html { 
  background: url('http://www.trbimg.com/img-53320ef8/turbine/la-et-ct-cinemacon-2014-tickets-20140325-001/2048/2048x1365') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: ;
  color: #FFF5EE;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif
}